* {
    box-sizing: border-box;
  }
  body {  background-color: rgb(182, 175, 175);}
  .container {
    width: 500px;
    height: 500px;
    margin: 20px auto 20px auto;
  
    padding: 80px;
    
  }
  #myDIV {
    width: 300px;
    margin: auto;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
  }
  
  #myDIV input {
    width: 75%;
    border: none;
    height: 30px;
    outline: none;
  }
  
  ul li {
    list-style-type: none;
    cursor: pointer;
    position: relative;

  }
  .list {
    width: 300px;
    margin: auto;
    border-radius: 15px;
    background-color: white;
    position: relative;
    
  }
  ul {
    padding-bottom: 30px;
  }
  h1,h2 {
    font-size: 20px;
    padding: 20px 0 5px 40px;
    margin-top: 20px;
  }
  img {
    max-width: 19.7%;
    vertical-align: middle;
    height: auto;
  }