* {
  margin: 0;
  padding: 0;
}
#menu ul {
  background: #1f568b;
  list-style-type: none;
  text-align: center;
}
#menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
}
#menu a {
  text-decoration: none;
  color: #fff;
  display: block;
}
#menu a:hover {
  background: #f1f1f1;
  color: #333;
}
body {
  text-align: justify;
  margin-left: 5px;
}
.img-container {
  text-align: center;
}
.img-container img {
  vertical-align: middle;
  display: inline-block;
}
p {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
}
.article-body {
  line-height: 2;
}
.section-recommendation {
  line-height: 2;
}
