* {
    box-sizing: border-box;
}
.login {
    margin: auto;
    width: 432px;
    height: 600px;
    padding: 20px 10px;
    line-height:20px; 
    display: flex;
    background-color: rgb(243, 250, 243);
    border-radius: 8px;
    margin-top:40px;
}
h1 {
    color: #1c1e21;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 0;
    text-align: left;
}
p {
    color: #606770;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;
    text-align: justify;
}
input,select {
    font-size: 12px;
    background-color: #fff;
    color: #1c1e21;
    
}
.btn-1 {
    background-color: green;
    width: 150px;
    height: 50px;
    border-radius:8px;
    display: block;
    margin: auto;
    color: white;}
