* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
  box-shadow: none;
}
html {
  font-size: 62.5%;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
@media (min-width: 768px) {
  html {
    height: auto;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
strong {
  font-weight: bolder;
}
.container {
  width: calc(100% - 30px);
}
nav ul,
nav ol {
  list-style: none none;
}
body {
  background-color: #ffff;
  color: #6666;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
}
input,
button {
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
}
input[type="text"] {
  color: #666;
  line-height: 1.66667;
  padding: 0 9px;
  vertical-align: baseline;
}
video {
  max-width: 100%;
  display: inline-block;
}
a {
  color: #222;
  text-decoration: none;
}
button [disabled] {
  cursor: default;
  pointer-events: none;
}

.page-wrapper {
  min-height: 100vh;
}

button {
  background-image: none;
  background: #f2f2f2;
  display: inline-block;
  font-weight: 700;
  vertical-align: middle;
}

img,
svg {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
button {
  outline: none !important;
  text-transform: none;
}
.item {
  margin: 0;
  padding: 0;
  list-style: none none;
}
.header-style-2 .form.minisearch .actions button,
.header-style-2 .vertical-menu-block .block-title-menu,
.header-style-2 .horizontal-megamenu-block .sm_megamenu_menu > li.home-item > a,
.text-branner .hot-item,
.text-branner .text-offer .explorer,
.group-product-slider-1 .block-title::before,
.group-product-slider-1 .block-title,
.footer-style .footer-top,
.subcribe-footer-content .block-subcribe-footer .action-button button,
.art-style-1 .smas-btn .btn.btn-search {
  background-color: #ffec00 !important;
  color: #222222;
}
.title-style-1 .block .block-title::before {
  background-color: #ffec00;
}
.group-product-slider-1 .block-title strong {
  color: #222222;
}
body .container {
  padding-left: 0;
  padding-right: 0;
}
.colums {
  flex-wrap: wrap;
}
.hidden {
  display: none;
}
.columns .column.main {
  flex-basis: auto;
  flex-grow: 1;
}
.columns::after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.col-lg-12,
.col-lg-3,
.col-lg-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
/*Responsive*/
@media (min-width:1200px) {
  .col-xl-5,.col-xl-7 {
    float:left;
  }
  
}
@media screen and (min-width: 576px) {
  .col-sm-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
}
@media (min-width: 768px) {
  .page-wrapper > .breadcrumbs {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    box-sizing: border-box;
  }
  .tabs {
    display:flex;
  }
}
@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 33.3333333333%;
    width: 33.3333333333%;
  }
}
@media screen and (min-width: 1024px) {
  .container,
  .page-main {
    max-width: 1650px !important;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .text-branner .hot-item {
    padding: 0 10px 0 30px;
  }
  .text-branner .text-offer {
    padding-left: 45px;
  }
  .text-branner .text-offer .explorer {
    padding: 0 15px;
  }
  .group-product-slider-1 .block-content .filterproducts {
    width: calc(100% - 100px);
  }
  .products.wrapper.products-grid
    .product-items
    .product-item:nth-child(4n + 1) {
    clear: both;
  }
}
@media (min-width: 640px) {
  .owl-carousel.product-item .product-item-actions .actions-primary {
  }
}
@media (max-width: 768px) {
  .text-branner {
    text-align: center;
  }
  .text-branner a.explorer {
    display: block;
    margin: 0 30%;
  }
}

@media (min-width: 767px) {
  .slider-categories-1 .owl-item {
    padding-right: 40px;
  }
  .page-layout-2columns-right .column.main {
    float: right;
    order: 2;
    min-height: 300px;
  }
  html .page-layout-2columns-right .column.main
}
@media (min-width: 1200px) and (max-width: 1440px) {
  .group-product-slider-1 .block-content .slider-thumbs {
    width: 90px;
  }
  .group-product-slider-1 .thumb-slider .slick-prev,
  .group-product-slider-1 .thumb-slider .slick-next {
    left: 22px;
    right: auto;
  }
 
}
@media (min-width: 768px) {
  .service-top-width {
    width: 33%;
  }
  .product-info-main {
    float:right;
  }
  .tabs-title> a {
    border-bottom-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
  }
}
@media (min-width:1260px) {
  .mgz-container {
    width:1260px;
  }
 
}
@media (min-width: 992px) {
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
/*HEADER*/
.header-style-2.gotravel {
  background-color: #292a30;
}

.col-sm-2 {
  position: relative;
  width: 100%;
  min-height: 1px;
}

.logo-container {
  float: left;
  width: 250px;
}

.logo-content {
  display: inline-block;
  margin: 0;
  vertical-align: top;
}

.logo-content .logo {
  max-width: unset;
  margin: 0;
}
.logo {
  float: left;
  position: relative;
  z-index: 5;
}
.middle-content::after {
  content: "";
  display: block;
  clear: both;
}
.logo img {
  max-height: 105px !important ;
  margin-top: 15px !important;
  margin-bottom: 0 !important;
}
.logo img {
  display: block;
  height: auto;
}
img {
  width: auto;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}
/* header-right*/
.header-middle {
  background-color: #292931;
}

.right-container {
  width: 100%;
  padding-left: 0px;
  float: left;
}
.search-content {
  width: calc(55% - 0px);
  padding-left: 15px;
  display: inline-block;
  float: left;
}
.block-search .search-pro {
  display: block;
}

.block-search .form.minisearch {
  display: table;
  width: 100%;
}
.block-search .form.minisearch .field.search {
  display: table-cell;
  width: 100%;
  vertical-align: top;
  background-color: #ffff;
  border-right: none;
}
.block-search .form.minisearch .field.search .control {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  clear: both;
}

.block-search .form.minisearch .field.search .searchbox-cat {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  height: 44px;
  background-color: transparent;
  border: none;
  width: 170px;
  padding-left: 20px;
  color: #222;
}

.block-search .input-text {
  margin-left: 0 !important;
  border-left: 1px solid #ddd;
  width: 100% !important;
  border-radius: 10px;

  background: 0 0;
  position: static;
  border: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
  height: 44px;
  padding-right: 10px;
  outline: none;
}
.block-search input {
  font-size: 16px;
  left: -300%;
}

.block-search .actions {
  display: table-cell;
  vertical-align: top;
}
.block-search .actions button {
  border: none !important;
  position: static;
  margin: 0;
  padding: 0;
  height: 44px;
  width: 64px;
  text-align: center;
  line-height: 44px;
  opacity: 1 !important;
  -webkit-border-radius: 0 4px 4px 0;
}

.block-search .actions button span {
  display: none;
}
.block-search .actions button::after {
  content: "\f002";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  text-align: center;
  font-size: 18px;
  -webkit-font-smoothing: antialised;
}

.right-content {
  width: calc(45% - 0px);
  display: inline-block;
  padding-right: 15px;
}

.header-container .minicart-header {
  display: table-cell;
  vertical-align: top;
}

.minicart-wrapper {
  display: inline-block;
  position: relative;
}

.header-container .minicart-wrapper .action .showcart .text::after {
  content: ":";
}
.owl-carousel-custom-1.owl-theme .owl-nav [class*=owl-]{
  color:#fff;
  font-size:14px;
  padding:0;
  background:rgba(255,255,255,.5);
  display:inline-block;
  cursor:pointer;
  border-radius:3px;
  position:absolute;
  top:50%;
  width:40px;
  height:40px;
  overflow:hidden;


}
.owl-carousel-custom-1.owl-theme .owl-nav [class*=owl-]:hover{
  background-color: #000;
  

}
.owl-carousel-custom-1.owl-theme .owl-nav [class*=owl-].owl-prev:hover::before{
  color:white;

}
.owl-carousel-custom-1.owl-theme .owl-nav [class*=owl-].owl-next:hover::before{
  color:white;

}
.owl-carousel-custom-1.owl-theme .owl-nav [class*=owl-].owl-prev::before {
  position:absolute;
top:4px;
left:5px;
width:30px;
height:30px;
  display: inline-block;
  content: "\f053";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-size:24px;
  text-align: center;
  color:#000;
}
.owl-carousel-custom-1.owl-theme .owl-nav [class*=owl-].owl-next::before {
  position:absolute;
top:4px;
left:5px;
width:30px;
height:30px;
  display: inline-block;
  content: "\f054";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-size:20px;
  text-align: center;
  color:#000;
}
.owl-carousel-custom-1.owl-carousel-custom-1.owl-theme .owl-nav [class*=owl-].owl-prev {
  left:15px;
}
.owl-carousel-custom-1.owl-theme .owl-nav [class*=owl-].owl-next {
  right:15px;
}
.owl-carousel-custom-1.owl-theme .owl-dots {
  position:absolute;
  width:100%;
 bottom:45px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-carousel-custom-1 .owl-dots .owl-dot {
  zoom:1;
  display:inline-block;
}
.owl-carousel-custom-1 .owl-dots .owl-dot span {
  width:10px;
  height:10px;
  margin:5px 7px;
  border:1px solid #d6d6d6;
  background:#fff;
  display: block;
  border-radius: 30px;
  -webkit-backface-visibility: visible;

}
.owl-carousel-custom-1 .owl-dots .owl-dot.active span {
  background-color: #000;
}
.header-container .minicart-wrapper .action.showcart::after {
  width: 60px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  color: #222;
  border-right: 1px solid #ddd;
  display: inline-block;
  content: "\f290";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  text-align: center;
  -webkit-font-smoothing: antialised;
  font-size: 18px;
}
.minicart-wrapper .action.showcart {
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
}
.header-container .minicart-wrapper .action.showcart .price-minicart {
  display: inline-block;
  vertical-align: middle;
  line-height: 44px;
  margin: 0 5px;
  color: #ff2d37;
}

.header-container .minicart-wrapper .action.showcart .counter.qty {
  display: block !important;
  position: absolute;
  top: 12px;
  left: 49px;
  background-color: #ff4b58;
  min-width: 20px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  padding: 0;
  z-index: 20;
  margin: 0;
  font-size: 85.714%;
  -webkit-border-radius: 10px;
}

.header-container .minicart-wrapper .action.showcart .text {
  display: inline-block;
  vertical-align: middle;
  position: static !important;
  width: auto;
  height: auto;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  columns: #222;
  line-height: 44px;
}
.header-container .minicart-wrapper .action.showcart {
  background-color: #fff;
  height: 44px;
  padding-left: 79px;
  padding-right: 20px;
  position: relative;
  -webkit-border-radius: 4px;
  text-decoration: none;
}

/*header bottom*/
.header-bottom {
  background-color: #292931;
  padding: 14px 0;
}
.desktop-menu::after {
  content: "";
  display: block;
  clear: both;
}
.vertical-block {
  width: 250px;
  float: left;
}
.vertical-menu-block {
  position: relative;
}
.vertical-menu .vertical-menu-block .block-title-menu::after {
  content: "\f0c9";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  -webkit-font-smoothing: antialised;

  float: right;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-transform: none;
  text-align: center;
  font-size: 24px;
}

.vertical-menu .vertical-menu-block .block-title-menu::before {
  content: "";
  height: 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -16px;
}
.vertical-menu-block .block-title-menu {
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  position: relative;
  -webkit-border-radius: 4px;
}
.horizontal-block {
  position: relative;
  float: left;
  width: calc(100% - 250px);
  padding-left: 30px;
}
.horizontal-megamenu-block .sm_megamenu_menu > li:not(:last-child) {
  margin: 1px;
}
.horizontal-megamenu-block .sm_megamenu_menu > li {
  float: left;
  display: inline-block;
  position: static;
  padding: 0;
  margin: 0;
}
.sm_megamenu_wrapper_horizontal_menu ul.sm_megamenu_menu {
  margin: 0;
  padding: 0;
}
.horizontal-block .promotion-block {
  position: absolute;
  right: 0;
  top: 0;
}
.horizontal-block .promotion-block a {
  color: #fff;
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 24px;

  font-weight: 600;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 4px;
}

.sm_megamenu_wrapper_horizontal_menu {
  display: block;
  position: relative;
  clear: both;
}
.sm_megamenu_wrapper_horizontal_menu .sambar-inner {
  list-style: none;
  width: 100%;
  padding: 0;
}

.horizontal-megamenu-block .sm_megamenu_menu > li > a {
  height: 40px;
  display: block;
  line-height: 40px;
  font-weight: 600;
  font-size: 100%;
  text-transform: uppercase;
  padding: 0 20px;
  -webkit-border-radius: 4px;
  color: #fff;
}
.horizontal-megamenu-block .sm_megamenu_menu > li > a:hover {
  background-color: #ffec00;
  -webkit-border-radius: 4px;
  color: #222222;
}

/*========Main=======*/
/*Carousel*/
.block-static-block.widget {
  margin-bottom: 23px;
}
.widget {
  clear: both;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.custom-slider {
  padding: 0 !important;
  position: relative;
}

.owl-item {
  width: 1259px;
  margin-right: 0;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

video {
  object-fit: cover;
}
.banner-image {
  margin-bottom: 30px;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  transform-style: preserve-3d;
}
.owl-carousel .owl-stage::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0%;
}
.owl-carousel .owl-loaded {
  display: block;
}
.owl-carousel {
  width: 100%;
  position: relative;
  z-index: 0;
  -webkit-highlight-color: transparent;
  direction: 1tr;
}
.slidershow-home .owl-carousel .owl-stage-outer {
  padding: 0 !important;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

/*Text-branner*/
.text-branner {
  background-color: #464a63;
  color: #fff;
  font-size: 128.571%;
  position: relative;
  display: table;
  width: 100%;
  -webkit-border-radius: 10px 5px 5px 10px;
}
.text-branner::before {
  content: "";
  display: block;
  position: absolute;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
  border: 1px dashed #fff;
  z-index: 10;
  opacity: 0.75;
  pointer-events: none;
  -webkit-border-radius: 5px;
}
.text-branner .hot-item {
  display: table-cell;
  white-space: nowrap;
  vertical-align: middle;
  height: 63px;
  line-height: 63px;
  position: relative;
  -webkit-border-radius: 5px 0 0 5px;
}

.text-branner .hot-item::after {
  content: "";
  width: 0;
  height: 0;
  border-right: 38px solid transparent;
  position: absolute;
  right: -38px;
  top: 0;
  border-bottom: 63px solid #ffec00;
}
.text-branner .text-offer {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

.text-branner .text-offer .explorer {
  float: right;
  height: 31px;
  line-height: 31px;
  text-transform: uppercase;
  font-size: 66.6666%;
  letter-spacing: 1.5px;
  margin-right: 15px;
  -webkit-border-radius: 5px;
}

/*Group-product*/

.group-product-slider-1 {
  background-color: #fff;
  padding: 20px;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0 3px 5px rgb(0 0 0 / 8%);
}

.column.main.block:last-child {
  margin-bottom: 0;
}
.group-product-slider-1.block-filterproducts {
  margin: 0;
}
.group-product-slider-1 .block-title strong {
  font-size: 128.571% !important;
  font-weight: 600;
  position: relative;
}
.group-product-slider-1 .block-title::before {
  content: "";
  position: absolute;
  top: 0;
  width: 44px;
  height: 46px;
  right: -22px;
  -webkit-border-radius: 50%;
}
.group-product-slider-1 .block-title {
  margin-bottom: 20px;
}
.group-product-slider-1 .block-title {
  height: 44px;
  line-height: 44px;
  display: table;
  margin: 0 0 0 -20px;
  padding: 0 5px 0 20px;
  position: relative;
}
.price-box.price-final_price {
  float: left;
  width: 50%;
  display: inline-block;
}
.price-box .price {
  color: #222;
  font-weight: 600;
  white-space: nowrap;
  font-size: 128.571%;
}
.product-item-info .product-item-details .product-item-actions .action-primary {
  vertical-align: top;
}
.product-item-actions .action-primary {
  display: inline-block;
}
.product-item-actions > * {
  font-size: 1.4rem;
}
form {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.product-item-details .product-item-actions .action-primary .tocart {
  height: 40px;
  padding: 0 26px;
  background-color: #f3f3f3;
  color: #222;
  white-space: nowrap;
}
.action.primary {
  font-size: unset;
  -webkit-border-radius: 4px;
  background-image: none;
  background: #444;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  vertical-align: middle;
}
.product-item-actions .action-secondary {
  display: inline-block;
  white-space: nowrap;
}
.product-item-actions .action-secondary .action {
  background-color: #f3f3f3;
  display: block;
  float: left;
  margin-left: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  -webkit-border-radius: 4px;
}
.product-item-actions .action-secondary .action.towishlist::after {
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialised;
  font-size: 14px;
  text-align: center;
  text-transform: none;
  font-variant: normal;
  display: inline-block;
}

.product-item-actions .action-secondary > .action > span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.product-item-info .product-item-details .product-item-name {
  margin: 0 0 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-item-name {
  display: block;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 400;
}
.product-item-info .product-item-details {
  padding-top: 10px;
}

.products-grid .product-item-info .image-product {
  position: relative;
  text-align: center;
}

.product-labels .product-label.new-label {
  left: 10px;
  background-color: #ffd200;
  color: #222;
  position: absolute;
  top: 10px;
  text-transform: uppercase;
  font-size: 85.714%;
  padding: 5px 12px;
  z-index: 100;
  -webkit-border-radius: 4px;
}
/*slider thumb*/
.group-product-slider-1 .slick-prev::before {
  content: "\f053";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  -webkit-font-smoothing: antialised;
  text-align: center;
  text-transform: none;
  font-variant: normal;
  font-size: 20px;
  color: inherit;
  line-height: unset;
  opacity: 1;
  display: inline-block;
}

.group-product-slider-1 .slick-prev::after {
  content: "";
}

.slick-track::before {
  display: table;
  content: "";
}
.group-product-slider-1 .slick-next::before {
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  text-transform: none;
  font-variant: normal;
  -webkit-font-smoothing: antialised;
  text-align: center;
  font-size: 20px;
  color: inherit;
  line-height: unset;
  opacity: 1;
  display: inline-block;
}
.filterproducts.slick-slider .slick-slide .product-item {
  display: block !important;
  margin: auto !important;
  max-width: 205px;
}

.group-product-slider-1 .block-content::after {
  content: "";
  display: block;
  clear: both;
}
.group-product-slider-1 .block-content .slider-thumbs {
  float: right;
  margin-top: -7px;
}

.group-product-slider-1 .thumb-slider .slick-prev,
.group-product-slider-1 .thumb-slider .slick-next {
  position: absolute;
  bottom: auto;
  top: -54px;
  -webkit-transform: rotate(90deg);
}
.slick-slider .slick-arrow {
  cursor: pointer;
  outline: 0;
  box-shadow: none;
}

.products.slick-slider > .slick-list {
  padding: 15px 0;
}
.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-slider {
  padding: 0 20px;
  display: block;
  position: relative;
}
.slick-list,
.slick-slider,
.slick-track {
  display: block;
  position: relative;
}

.slick-track::before {
  display: table;
  content: "";
}

.group-product-slider-1 .block-content .slider-thumbs {
  float: right;
  margin-top: -7px;
}
.group-product-slider-1 .block-content .slider-thumbs .item-thumb {
  border: 1px solid #ddd;
  padding: 1px;
  cursor: pointer;
  -webkit-border-radius: 4px;
}
.product-image-container {
  display: inline-block;
  max-width: 100%;
}
.product-image-wrapper {
  display: block;
  height: 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.product-image-photo {
  bottom: 0;
  display: block;
  height: auto;
  left: 0;
  margin: auto;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.group-product-slider-1 .thumb-slider .slick-next {
  position: absolute;
  bottom: -54px;
  top: auto;
}
.group-product-slider-1 .thumb-slider .slick-next,
.group-product-slider-1 .thumb-slider .slick-prev {
  width: 50px;
  height: 50px;
  line-height: 46px;
  color: #222;
  text-align: center;
  border: 1px solid #ddd;
  z-index: 100;
  -webkit-border-radius: 50%;
}
.group-product-slider-1 .block-content .filterproducts {
  float: left;
  margin: 0;
}
.slider-group .slick-prev,
.slider-group .slick-next {
  display: none !important;
}

.column.main .block:last-child {
  margin-bottom: 0;
}

.column.main .block .block-title {
  margin-bottom: 20px;
}
.product-items.slick-slider > .slick-list {
  padding: 15px 0;
}
.product-items.slick-slider .slick-slide .product-item {
  display: block !important;
  margin: auto !important;
  max-width: 205px;
}
.group-product-slider-1 .block-content .products-grid .product-item-info {
  margin: 0;
  width: unset !important;
}
.product-item-info {
  max-width: 100%;
}
.group-product-slider-1
  .block-content
  .products-grid
  .product-item-info
  .product-item-photo {
  border: none;
  padding: 0;
  line-height: 0;
  display: block;
}
.group-product-slider-1
  .block-content
  .products-grid
  .product-item-info
  .product-item-photo
  img {
  height: auto;
  max-height: unset;
}
.products-grid .product-item-info .product-item-details .price-box {
  margin: 5px 0 15px;
}
.slick-slide img {
  display: block;
}
.product-item-actions {
  width: 100%;
  display: inline-block;
  font-size: 0;
}
.products-grid
  .product-item-info
  .product-item-details
  .product-item-actions
  .actions-secondary {
  vertical-align: top;
}
.thumb-slider .slick-list {
  height: 195px !important;
  padding: 0 !important;
}

.slick-track {
  height: 325px !important;
}
.group-product-slider-1 .slick-vertical .slick-slide {
  padding: 5px 0;
}
.slick-initialized .slick-slide {
  float: none !important;
  display: inline-block !important;
  height: auto;
  vertical-align: middle;
}

/*Footer*/
.footer-top {
  padding: 20px 0 0;
}
.service-top ul li {
  float: left;
  margin-bottom: 20px;
}
.service-top ul li::after,
.service-top ul::after {
  content: "";
  display: block;
  clear: both;
}
.service-top ul li .sv-info {
  margin-left: 80px;
  padding-top: 13px;
}
.service-top ul li .sv-title {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 2px;
}
.service-top ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.service-top ul li p {
  margin: 0;
  font-size: 92.875%;
  opacity: 0.7;
}
.service-top ul li .sv-icon {
  float: left;
  background-color: #fff;
  overflow: hidden;
  -webkit-border-radius: 50%;
}

.footer-middle {
  background-color: #fff;
  padding-top: 53px;
  padding-bottom: 15px;
}
.social-newsletter {
  background-color: #fff;
}
.footer-bottom {
  background-color: #fff;
  padding: 30px 0;
}
.footer-bottom address {
  color: #666;
  margin: 7px 0 0;
  font-size: 92.875%;
}
address {
  font-style: normal;
  line-height: inherit;
}
.block-footer {
  margin-bottom: 40px;
}
.block-footer .block-footer-title {
  font-size: 128.571%;
  color: #222;
  font-weight: 600;
  margin-bottom: 17px;
}
.block-footer .block-footer-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.block-footer .footer-contact ul li {
  min-height: 33px;
  color: #666;
  position: relative;
  padding-left: 38px;
}
.block-footer .footer-contact ul li.address {
  margin-bottom: 20px;
}
.block-footer .footer-contact ul li::before {
  position: absolute;
  left: 0;
  color: #222;
}
.block-footer .footer-contact ul li.address::before,
.block-footer .footer-contact ul li.email::before,
.block-footer .footer-contact ul li.time::before,
.block-footer .footer-contact ul li.phone::before {
  content: "\f3c5";
  display: inline-block;
  font-weight: 900;
  font-style: normal;
  -webkit-font-smoothing: antialised;
  text-align: center;
  font-size: 18px;
  font-family: "Font Awesome 5 Free";
}
.block-footer .footer-contact ul li.email::before {
  content: "\f0e0";
  font-weight: 400;
}
.block-footer .footer-contact ul li.phone::before {
  content: "\f095";
}
.block-footer .footer-contact ul li.time::before {
  content: "\f017";
  font-weight: 400;
}
.social-newsletter {
  background-color: #fff;
}
.social-newsletter-content {
  background-color: #f5f5f5;
  -webkit-border-radius: 10px;
  padding: 28px 30px 0;
}
.subcribe-footer-content {
  display: table;
  margin-bottom: 28px;
  width: 100%;
}
.subcribe-footer-content .subcribe-footer-title {
  display: table-cell;
  vertical-align: top;
  padding-right: 45px;
  font-size: 128.571%;
  font-weight: 600;
  padding-top: 10px;
  color: #222;
  position: relative;
  left: -9px;
  white-space: nowrap;
}
.subcribe-footer-content .block-subcribe-footer {
  display: table-cell;
  vertical-align: top;
  width: 100%;
}
.form .newsletter-content {
  display: table;
  width: 100%;
}
.subcribe-footer-content .block-subcribe-footer .input-box {
  display: table-cell;
  vertical-align: top;
  width: 100%;
}
.subcribe-footer-content .block-subcribe-footer .input-box #newsletter-footer {
  height: 44px;
  border: none;
  padding-left: 25px;
  color: #222;
  -webkit-box-shadow: 0 2px 5px rgb(0 0 0 / 8%);
  -webkit-border-radius: 22px 0 0 22px;
}
input[type="email"] {
  background-color: #fff;
  background-clip: padding-box;
  line-height: 1.666667;
  padding: 0 9px;
  vertical-align: baseline;
  width: 100%;
}
.subcribe-footer-content .block-subcribe-footer .action-button {
  display: table-cell;
  vertical-align: top;
}
.subcribe-footer-content .block-subcribe-footer .action-button button {
  text-transform: uppercase;
  height: 44px;
  line-height: 44px;
  font-weight: 600;
  padding: 0 25px 0 23px;
  -webkit-box-shadow: 0 2px 5px rgb(0 0 0 / 8%);
  -webkit-border-radius: 0 22px 22px 0;
}

/*title-style-1*/
.title-style-1 {
  padding: 20px 0;
}
.title-style-1 .block .block-title {
  padding-bottom: 13px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.title-style-1 .block .block-title::before {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 2px;
  bottom: -1px;
  left: 0;
}
.column.main .block .block-title strong {
  font-size: 171.428%;
  color: #222;
  font-weight: 600;
}
.info-post {
  padding-top: 15px;
}
.info-post .post-date {
  font-size: 85.714%;
  margin-bottom: 10px;
}
.info-post .post-title {
  font-size: 114.285%;
  font-weight: 600;
  margin-bottom: 10px;
}
.info-post .post-short-description {
  font-size: 92.857%;
  margin-bottom: 18px;
}
.info-post .post-read-more a {
  display: table;
  padding: 9px 30px;
  color: #222;
  background-color: #f5f5f5;
  -webkit-border-radius: 5px;
}

.title-style-1 .nav-style-2 .owl-theme .owl-nav {
  position: absolute;
  top: -73px;
  margin: 0;
  right: 0;
}
.owl-carousel .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-nav .owl-prev {
  -webkit-border-radius: 17px 0 0 17px;
}
.owl-nav .owl-next {
  -webkit-border-radius: 0 17px 17px 0;
}
.title-style-1 .nav-style-2 .owl-theme .owl-nav [class*="owl-"] {
  vertical-align: top;
  background-color: #fff;
  color: #222;
  font-size: 14px;
  padding: 0;
  display: inline-block;
  border: 2px solid #ddd;
  width: 44px;
  height: 34px;
  margin: 0 -1px;
}
.nav-style-2 .owl-theme .owl-nav .owl-prev::before,
.nav-style-2 .owl-theme .owl-nav .owl-next::before {
  display: inline-block;
  content: "\f053";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  -webkit-font-smoothing: antialised;
  text-align: center;
  font-variant: normal;
}
.nav-style-2 .owl-theme .owl-nav .owl-next::before {
  content: "\f054";
}
.owl-theme .owl-nav [class*="owl-"] span {
  display: none;
}
.owl-theme .owl-nav [class*="owl-"].disabled {
  cursor: default;
  opacity: 1;
}
.nav-style-2 .owl-theme .owl-nav [class*="owl-"]::before {
  font-size: 19px;
  line-height: 29px;
}
.nav-style-2 .owl-theme .owl-nav [class*="owl-"]:hover {
  background-color: #ffec00;
}

/*Most view product*/

.list-slider-1 .product-type-list .image-product {
  width: 110px;
  display: block;
  float: left;
  border: 1px solid #ddd;
  overflow: hidden;
  -webkit-border-radius: 10px;
  vertical-align: top;
}
.list-slider-1 .product-type-list .image-product:hover {
  border: 1px solid #ffec00;
}
.list-slider-1
  .product-type-list
  .product-item-details
  .product-item-name
  a:hover {
  color: #ffec00;
  transition: all ease 0.3s;
}
.list-slider-1 .product-type-list .product-item-info {
  margin-bottom: 20px;
  display: block;
  border: none;
  padding-bottom: 15px;
}
.list-slider-1 .product-type-list .image-product .product-item-photo {
  position: static;
}
.list-slider-1 .product-type-list .product-item-details {
  margin-left: 130px;
  float: none;
}
.list-slider-1 .product-type-list .product-item-details .product-item-name {
  margin: 0 0 10px;
  font-weight: 400;
}
.owl-carousel {
  direction: 1tr;
}
.product-item-name a {
  font-weight: 400;
}
.list-slider-1 .product-type-list .product-item-info::after {
  display: block;
  content: "";
  clear: both;
}

.banner-image {
  margin-bottom: 30px;
}
/*listing tabs */
.products-grid .product-item-info .product-item-photo {
  display: block;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 10px;
  line-height: 0;
}
.products-grid .product-item-info .image-product {
  text-align: center;
  position: relative;
}
.products-grid .product-item-info {
  margin-bottom: 0;
  text-align: left;
  width: unset;
}
.products.wrapper.products-grid .product-items .product-item {
  margin: 0;
  float: left;
  display: block;
  padding: 0 15px;
}
.listingtab-style-1 .listingtabs-cms .ltabs-items-container {
  float: right;
  width: calc(100% - 370px);
}
.listingtab-style-1 .listingtabs-cms .cms-container {
  float: left;
  width: 350px;
}

.owl-carousel.products .owl-stage-outer {
  padding: 0;
}
.products-grid .product-items {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
.owl-carousel.products .owl-item .product-item {
  width: 100%;
  padding: 0 !important;
}
.product-item-skuref {
  font-size: 1.2rem;
}
.product-item {
  font-size: 1.4rem;
}

/*slider-catalogies*/
.slider-categories-1 .block-categories .item .content-box {
  border: none;
  text-align: center;
  overflow: hidden;
  padding: 1px 1px 5px;
  -webkit-border-radius: 10px;
}
.slider-categories-1 .block-categories .cat-wrap-slider .item .cat-title {
  font-weight: 600;
  padding: 12px 0 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  padding: 20px 0;
}
.nav-style-1.hover-to-show .owl-theme .owl-nav {
  opacity: 0;
  visibility: hidden;
}
.nav-style-1.hover-to-show:hover .owl-nav {
  opacity: 1;
  visibility: visible;
}
.nav-style-1.hover-to-show .owl-theme .owl-nav [class*="owl-"]:hover {
  background: #ffec00;
}
.nav-style-1.hover-to-show .owl-theme .owl-nav [class*="owl-"]:hover::before {
  background-color: #fff;
}
.cat-wrap-slider .owl-nav [class*="owl-"] {
  color: #fff;
  font-size: 14px;
  padding: 0;
  background: rgba(255, 255, 255, 0.5);
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  text-indent: 100%;
  overflow: hidden;

  border: 1px solid #ddd;
  text-align: center;
  line-height: 50px;
  margin: calc(-40px / 2) 0 0;
}
.nav-style-1 .owl-theme .owl-nav .owl-prev::before {
  position: absolute;
  top: 8px;
  left: 6px;
  width: 26px;
  height: 25px;
  z-index: 1;
  content: "";
  background-color: #000;
  text-indent: 0;
  border-top: none;
  transform: none;
  -webkit-mask-image: url(../img/arrow.svg);
  border-radius: 20px;

  text-align: center;
}
.nav-style-1 .owl-theme .owl-nav .owl-prev::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 8px;
  z-index: 1;
  width: 20px;
  height: 1px;
  border-radius: 20px;
}
.nav-style-1.absolute-nav .owl-theme .owl-nav [class*="owl-"].owl-prev {
  left: -25px;
}
.nav-style-1.absolute-nav .owl-theme .owl-nav [class*="owl-"].owl-next {
  right: -10px;
}
.nav-style-1 .owl-theme .owl-nav .owl-next::before {
  position: absolute;
  top: 8px;
  left: 6px;
  width: 26px;
  height: 25px;
  content: "";
  background-color: #000;
  text-indent: 0;
  border-top: none;
  transform: none;
  -webkit-mask-image: url(../img/arrow.svg);
  border-radius: 20px;
  transform: rotate(180deg);
}
.group-product-slider-1
  .block-content
  .slider-thumbs
  .slick-current
  .item-thumb {
  border-color: #ffec00;
}

/*breadcrumbs*/
.breadcrumbs {
  padding-top: 15px;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}
.breadcrumbs .items {
  font-size: 92.857%;
  color: #a3a3a3;
  margin: 0;
  padding: 0;
  list-style: none none;
}
.breadcrumbs .item:not(:last-child) {
  display: inline-block;
  text-decoration: none;
  margin-top: -3.6px;
}
.breadcrumbs .items > li {
  display: inline-block;
  vertical-align: top;
}
.breadcrumbs a {
  color: #888;
  text-decoration: none;
}
.breadcrumbs .item {
  margin: 0;
}
.breadcrumbs strong {
  color: #222;
  font-weight: 400;
}
.breadcrumbs .item:not(:last-child)::after {
  position: relative;
  top: 4px;
  margin: 0 5px;
  content: "\f101";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  -webkit-font-smoothing: antialised;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  font-variant: normal;
  text-transform: none;

  line-height: 18px;
  overflow: hidden;
}

/*column-main*/
html .page-layout-2columns-right .column.main {
  width: calc(100% - 300px);
}
.page-layout-2columns-right .column.main {
  padding-left: 0;
  padding-right: 0;
}
.block-static-block.widget {
  margin-bottom: 23px;
}
.widget {
  clear: both;
}
.art-style-1 .smas-wrap {
  background: 0 0;
  padding: 0;
}
.art-style-1 .smas-container {
  padding: 40px 30px 40px;
  background-size: contain;
  background: url(../img/find_right_adapter.jpg) no-repeat top center #898788;
  -webkit-border-radius: 10px;
  display: block;
  position: relative;
}
.art-style-1 .smas-caption {
  margin-bottom: 35px;
  text-align: center;
}
.art-style-1 .smas-caption h2 {
  font-size: 214.285%;
  color: #222;
  font-weight: 600;
  padding-bottom: 10px;
}
.smas-group-left {
  margin-right: 148px;
}
.art-style-1 .smas-form-wrap {
  max-width: 970px;
  margin: 0 auto;
  height: 49px;
}
.smas-form {
  position: relative;
}
.cf::after,
.cf::after {
  content: "";
  display: table;
}
.smas-attr {
  float: left;
  width: 33.33%;
}
.smas-attr .chosen-container {
  width: 100% !important;
}
.smas-attr-inner {
  margin: 0 5px;
}
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  user-select: none;
}
.art-style-1 .chosen-container-single .chosen-single {
  border: 1px solid #ddd;
  font-size: 107.69%;

  height: 49px;
  line-height: 49px;
  background: 0 0;
  background-color: #fff;
  padding-left: 20px;

  position: relative;
  overflow: hidden;
  padding: 0 0 0 8px;
  border-radius: 5px;
  white-space: nowrap;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
.chosen-single a {
  cursor: pointer;
}
.art-style-1 .chosen-container-single .chosen-single span {
  color: #222;
  margin-right: 50px;

  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.art-style-1 .chosen-container-single .chosen-single b::before {
  background-color: #f5f5f5;
  width: 22px;
  height: 22px;
  line-height: 22px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -11px;
  margin-top: -11px;
  color: #222;

  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  text-align: center;
  font-size: 14px;
  text-transform: none;
  -webkit-font-smoothing: antialised;
  display: inline-block;
}
select {
  background: url(../img/bg-select.svg) no-repeat center right #fff;
  height: 36px;
  border: 1px solid #ddd;
  padding-right: 25px;
  -webkit-border-radius: 4px;
  -webkit-appearance: none;
  color: #666;
  padding: 6px 20px 6px 6px;
  vertical-align: baseline;
  width: 100%;
  box-sizing: border-box;
}
.smas-group-right {
  position: absolute;
  top: 0;
  right: 0;
}
.art-style-1 .smas-btn .btn.btn-search {
  opacity: 1;
  font-size: 100% !important;
  font-weight: 500;
  width: 142px;
  background: 0 0;
  height: 36px;
  border: none;
  box-shadow: none;
  vertical-align: middle;
  line-height: 100%;
  text-transform: uppercase;
  display: block;
}
.page-main {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 30px);
}

/*products-grid*/
.item-image_horizontal img {
  width: 88px;
  height: 88px;
}
html .page-layout-2columns-right .column.main {
  width: calc(100% - 300px);
}
.inner-content:before, .inner-content:after {
  content: " ";
  display: table;
  clear: both;
}
.element::before,.element::after {
  content:"";
  display: table;
  clear: both;
}
.element-inner::before,.element-inner::after {
  content:"";
  display: table;
  clear: both;
}
.product-info-main {
  padding-left :20px!important;
  width:100%;
 
}
.element-inner {
  margin:10px;
  padding:0;
  height:100%;

}
.tabs-title {
  text-align:left;
  display: inline-block;
}
.tabs-title >a {
  -webkit-transition: all ease-in-out,color .2s ease-in-out, border .2s ease-in-out;
  border-radius: 5px;
  border:1px solid #e3e3e3;
  z-index:1;
  display:block;
  position: relative;
  padding:14px 20px;
}

.tabs-tabs-content {
  border:1px solid #e3e3e3;
  background:#f8f8f8;
  margin-top:-1px;
  border-radius: 5px;
  display:none;

}
.table:not(.cart):not(.total) {
  border:none;
}
.table:not(.cart):not(.total)>tbody>tr>td,.table:not(.cart):not(.total)>tbody>tr>th {
  border:none;
}
.additional-attributes .col{
  width:auto;
}
.table th, .table td {
  padding:.75rem;
  vertical-align: top;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.col.data {
  font-weight: 400;
}
.mgz-active {
  display: block;

}